main{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10%;
}

h1{
    background: linear-gradient(90deg, orange, rgb(146, 7, 146),  pink);
    background-clip: text;
    color: transparent;
}
